Config(
  managerName : "B5",
  storeNumber : "B3",
  weekEndingCell : "B4",

  auvTarget : "D7",
  lastYearSales : "D8",
  netSales : "D9",
  upcomingSales : "D12",
  breadCount : "D13",
  foodCost : "D15",
  syscoCost : "D17",
  labourCost : "D21",
  customerCount : "D32",
  customerPrev : "D33",
  partySales : "D35",
  hoursUsed : "D23",
  managerHours : "D24",
  targetHours : "D26",
  gcSold : "D36",
  gcRedeem : "D37",
  prodActual : "D28",
  prodBudget : "D30",
)
