Config(
  Dates: [
    ["A3","E3","A26","E26"],
  ],

	CashDeposit: [["B4", "F4", "B27", "F27"]],
	AmexCard: [["B6", "F6", "B29", "F29"]],
	CreditSales: [["B7", "F7", "B30", "F30"]],
	GiftCardRedeem: [["B8", "F8", "B31", "F31"]],
	SubwayCaters: [["B9", "F9", "B32", "F32"]],
	SkipTheDishes: [["B10", "F10", "B33", "F33"]],
	DoorDash: [["B11", "F11", "B34", "F34"]],
	USCash: [["B12", "F12", "B35", "F35"]],
	PettyCash: [["B13", "F13", "B36", "F36"]],

  UberEats: [["C12", "G12", "C35", "G35"]],

	Tips: [["C14", "G14", "C37", "G37"]],
	HST: [["C15", "G15", "C38", "G38"]],
	BottleDeposit: [["C16", "G16", "C39", "G39"]],
	NetSales: [["C17", "G17", "C40", "G40"]],
	CreditSalesRcv: [["C18", "G18", "C41", "G41"]],
	CreditFood: [["C20", "G20", "C43", "G43"]],
	GiftCardSold: [["C21", "G21", "C44", "G44"]],

	DebitCard: [["B3", "C3", "D3", "E3"]],
	MasterCard: [["B4", "C4", "D4", "E4"]],
	VisaCard: [["B5", "C5", "D5", "E5"]],
	PayPal: [["B6", "C6", "D6", "E6"]],
)
