Config(
  Dates: [
    ["A3","E3","A33","E33"],
  ],

	CashDeposit: [["B5","F5","B35","F35"]],
	AmexCard: [["B9","F9","B39","F39"]],
	CreditSales: [["B14","F14","B44","F44"]],
  GiftCardRedeem: [["B15","F15","B45","F45"]], 
  SubwayCaters: [["B16","F16","B46","F46"]],
	SkipTheDishes: [["B17","F17","B47","F47"]],
	DoorDash: [["B18","F18","B48","F48"]],
	UberEats: [["B19","F19","B49","F49"]],
  USCash:[["B20","F20","B50","F50"]],
	PettyCash: [["B21","F21","B51","F51"]],

	Tips: [["C22","G22","C52","G52"]],
  HST: [["C23","G23","C52","G53"]],
	BottleDeposit: [["C16", "G16", "C39", "G39"],["C22", "G22", "C51", "G51"]],
	NetSales: [["C17", "G17", "C40", "G40"],["C23", "G23", "C52", "G52"]],
	CreditSalesRcv: [["C18", "G18", "C41", "G41"],["C24", "G24", "C53", "G53"]],
  BevCredit: [[],["C25","G25","B54","G52"]],
	CreditFood: [["C20", "G20", "C43", "G43"],["C26", "G26", "C55", "G55"]],
	GiftCardSold: [["C21", "G21", "C44", "G44"],["C27", "G27", "C56", "G56"]],

	DebitCard: [["B3", "C3", "D3", "E3"],["B3", "C3", "D3", "E3"]],
	MasterCard: [["B4", "C4", "D4", "E4"],["B4", "C4", "D4", "E4"]],
	VisaCard: [["B5", "C5", "D5", "E5"],["B5", "C5", "D5", "E5"]],
	PayPal: [["B6", "C6", "D6", "E6"],["B6", "C6", "D6", "E6"]],
)
