VersionConfig(
  data: [
    VersionPair(
      index: 2,
      pairs: {
        "A6": "Interac/Visa/MC/Discover",
      }
    ),
    VersionPair(
      index: 1,
      pairs: {
        "A46":"ApplePay RO",
      }
    ),
    VersionPair(
      index: 0,
      pairs: {
        "A4":"Net Sales",
      },
    ),
  ]
)
