VersionConfig(
  data: [
    VersionPair(
      index: 0,
      pairs: {
        "A6":"Amex",
      },
    ),
    VersionPair(
      index: 1,
      pairs: {
        "A46":"ApplePay RO",
      }
    )
  ]
)
