
ul.navControl {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: limegreen;
}

li.navControl {
	float: left;
}

li.navControl span.navLink {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.navControl span.navLink:hover {
	background-color: lime;
}

li.navDropDown {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

div.dropdown {
	position: relative;
	display: inline-block;
}

div.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;		/* update to something better? */
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

div.dropdown:hover div.dropdown-content {
	display: block;
}
