
th.blank, td.blank
{
	border: none;
}

/* Used to highlight net sales total */
td.Net
{
	background-color: yellow;
	color: black;
}

td.NetSalesUp
{
	background-color: springgreen;
	color: black;
}

td.NetSalesDown
{
	background-color: tomato;
	color: black;
}

td.NetSalesSame
{
	background-color: lightblue;
}

td.CustomerCount, td.ThirdPartyPerc
{
	background-color: yellow;
}

th.div, td.div
{
	background-color: black;
}
