
table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

button.tagButton {
		background-color: transparent;
		border: none;
		cursor: pointer;
		text-decoration: underline;
		display: inline;
		margin: 0;
		padding: 0;
		color: blue;
}

button.tagButton:hover {
		color: red;
}

.tooltip
{
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext
{
	visibility: visible;
}
